body {
    font-family: 'Times New Roman', Times, serif;
}

#menu {
    height: 30px;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    border: 1px solid #CDCDCD;
}

#menu ul,
#menu li {
    padding: 0;
    margin: 0;
}

#menu li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li a {
    width: 100px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color:whitesmoke;
    color: rgba(0, 0, 0, 0.816);
}

#menu ul ul li a {
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

#menu li a:hover {
    color: green;
}
#menu ul ul {
    position: absolute;
    top :30px;
    left: 15px;
    visibility: hidden;
}
#menu ul li:hover ul {
    visibility: visible;
}
